body {
    background-color: #fbf7f5;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    text-decoration: underline;
}
h2 {
    text-align: center;
    color: #e45f00;
}

.navBar{
    width: 75%;
    height: 60px;
    margin: auto;
}

.navBar ul{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
}

.navBar ul li{
    padding: 10px;
    display: block;
}

.navBar ul li a{
    color: black;
    text-decoration: none;
    font-size: 25px;
    font-family:'Times New Roman', Times, serif;
}

.navBar ul li a:hover{
      text-decoration: underline;
}



img {
    width: 80%;
    height: 60%;
    display: block;
    margin: 15px auto;
}