<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{%block title%}AuSam{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>
  <body>
    <header id="header">
      <h1>Austin & Samantha</h1>
      <h2>October 24, 2024 - Perugia, Italy</h2>
      <nav class="navBar">
          <ul>
              <li><a href="{% url 'home' %}">Home</a></li>
              <li><a href="{% url 'directions' %}">Getting There</a></li>
              <li><a href="{% url 'itinerary' %}">3 Day Itinerary</a></li>
              <li><a href="{% url 'photos' %}">A&S Photos</a></li>
              <li><a href="capture.html">Capture our Love</a></li>
              <li><a href="{% url 'info' %}">Info</a></li>
              <li><a href="{% url 'rsvp' %}">RSVP</a></li>
          </ul>
      </nav>
  </header>
    <div class="container">{% block content %} {% endblock %}</div>

    {% load static %}
    <script src="{% static 'js/script.js' %}"></script>

  </body>
</html>
 