{% extends "base.html" %} {% block title %} Home Page {% endblock %}
{% block content %}
<img id="home-image" src ="page-specific/home/AustinandSamEngagement-web_res.jpg" alt="Austin and Samantha engagement photo."/>
<div id="rsvp-button-home">
    <button type="button">RSVP by 24 July 2024</button>
</div>
<section id="wedding-day-schedule">
    <h2 class="wedding-schedule">Day of the Wedding</h2>
    
    <div class="wedding-schedule">
        <h3 >16:00-16:30 - Ceremony</h3>
        <p>*add description*</p>
    </div>
    <div class="wedding-schedule">
        <h3>16:30-15:45 - Cocktails & Canapes</h3>
        <p>*add description*</p>
    </div>
    <div class="wedding-schedule">
        <h3>18:00-21:00 - Reception</h3>
        <p>*add description*</p>
    </div>
    <div class="wedding-schedule">
        <h3>21:00-1:00 - Celebration</h3>
        <p>*add description*</p>
    </div>
</section>
{% endblock %}