{% extends "base.html" %} {% block title %} Home Page {% endblock %}
{% block content %}
    
<body>
    <hr>

    <form id="attendance-form" action='submit-rsvp/' method="post">
        <fieldset>
            <label for="full-name">Full Name: <input id="full-name" name="full-name" type="text" required /></label>

            <div class="attending-button-container">
                <label for="acceptedButton">Attending:</label>
                <button type="button" id="acceptedButton" class="attending-button" onclick="handleButtonClick('accepted')">Accepted</button>
        
                <label for="declineButton"></label>
                <button type="button" id="declineButton" class="attending-button" onclick="handleButtonClick('decline')">Decline</button>
                
                <input type="hidden" id="attendingInput" name="attending" value="" required>
            </div>

            <button type="submit">Submit</button>


        </fieldset>

        <script>
            function handleButtonClick(option) {
                // Update the hidden input value based on the clicked button
                document.getElementById('attendingInput').value = option;
    
                // Style the buttons to indicate the selected option (optional)
                document.getElementById('acceptedButton').classList.toggle('selected', option === 'accepted');
                document.getElementById('declineButton').classList.toggle('selected', option === 'decline');
            }
        </script>
    </form>

</body>

{% endblock %}