{% extends "base.html" %} {% block title %} AuSam - Info {% endblock %}
{% block content %}
<body>
<hr>

<div id="info_page">
    <hr>
    <details>
        <summary>Important Dates</summary>
        <p>
            We have the venue from the 23rd of October 2024 to the 26th of October 2024.
            We will also have access to the hotel 200m – Agriturismo Sole Luna - from the same dates for those who
            will not be staying on the venue.<br>
            The venue only has place for approximately 42 people (excluding Austin and I) – the rest will stay at
            Agriturismo Sole Luna.<br>

            Date of the actual wedding will be October 24th, 2024. <br>
            We will have a welcome dinner for those who would like to join on October 23rd, 2024. <br>
            Rehearsal – for those in which it applies – will be October 23rd, 2024. <br>



            <span class="bold-orange"> We would appreciate if people could be there on the 23rd, as it will become a
                lot to handle if people are checking in on the day of the wedding. Thank you. </span>

        </p>
    </details>
    <hr>
    <details>
        <summary>Staying at Villamena</summary>
        <p>The cost for staying on site will be €45 per person, per night. Therefore, for one person for the three
            nights = €135.<br>
            What this price includes:
        <ul>
            <li>Three night stay on site.</li>
            <li>Breakfast for the three days, its contents containing:</li>
            <ul>
                <li>Toast</li>
                <li>Cornflakes</li>
                <li>Bread </li>
                <li>Tea/coffee/Nescafé/sugar</li>
                <li>Milk/orange juice/water</li>
                <li>Little jars of jam/Nutella</li>
                <li>Cookies</li>
                <li>Crackers</li>
                <li>Yogurt</li>
                <li>Eggs </li>
                <li>Butter packs</li>
                <li>Philadelphia cream cheese </li>
                <li>Tarts</li>
            </ul>
            <li>The rooms are mini apartments, therefore it is more than likely that you will be sharing with
                another couple, or other people. We will try our best to assign the rooms in a way that it
                accommodates everyone.</li>
            <li>The room sizes vary from ones that accommodate 2 people, up to 7. </li>
            <li>The rooms include a full bathroom, beds/pull out couches and a full kitchen.</li>
        </ul>
        </p>
        <p>
            Check-in on the 23rd of October, 2024 is 4:00pm at Villamena.<br>
            Check-out on the 26th of October, 2024 is 11:00am at Villamena.
        </p>
    </details>
    <hr>
    <details>
        <summary>Staying at Agriturismo Sole Luna</summary>
        <p>The cost of staying there will be €42 per person, per night. Therefore for one person for the three
            nights = €126<br>
            What this prices includes:
        <ul>
            <li>The room in which you will be staying.</li>
            <li>Breakfast for the three days, its contents vary but mainly contain:</li>
            <ul>
                <li>Yogurt</li>
                <li>Butter</li>
                <li>Jams</li>
                <li>Bread</li>
                <li>Biscuits</li>
                <li>Coffee/tea/Nescafé/milk</li>
                <li>Orange juice/mineral water</li>
                <li>Paper napkins </li>
                <li>Welcome tart or cake</li>
            </ul>
            <li>The rooms are mini apartments, therefore it is more than likely that you will be sharing with
                another couple, or other people. We will try our best to assign the rooms in a way that it
                accommodates everyone.
                <ul>
                    <li>The rooms vary from sizes of fitting 2 people, up to 5.</li>
                    <li>All except a room of 2 have full kitchens. </li>
                </ul>
            <li>We will be booking these rooms for the people who will be staying in them, so you do not
                need to do it on your own. All we will need, when you confirm with the RSVP is to know how
                many people per room.</li>
            <li>The hotel is 200m away from the venue, you can either drive to the venue which has a parking
                lot or you can simply walk – the walk is approximately 5 mins. If you are walking, wear
                comfortable shoes and you can change them at the villa – it is not a nicely paved road, it
                is located on a mountain so it is gravelly. </li>
        </ul>
        </p>
    </details>
    <hr>
    <details>
        <summary>Getting to the Venue</summary>
        <p>Firstly, to get to the venue, you MUST get to the city of Perugia. Information on getting to Perugia can
            be found on the <a href="{% url 'directions' %}">"Getting There"</a> page.<br>
            Once you get to Perugia:<br>
            Whether you are getting there by train or by plane, you can easily take a taxi from either location to
            the venue. Just show the driver where you intend to go and they will take you there.
            When Austin and I did the trip in December of 2022, it was approximately €30 for 30 minutes. They take
            card, but they prefer cash – they may also speak little English.
            Perugia and Assisi (where Villamena is), are extremely small Italian towns, there is no Uber (at least
            when we were there) and if there is, there are not a lot. SO take a taxi, they are reasonably priced and
            easy to grab at either the train station or the airport.


        </p>
    </details>
    <hr>

    <details>
        <summary>Extra Activities</summary>
        <p>There are a couple of extra activities that you can take part in, if you would like – mainly these
            involve meals.<br>
            Again, the venue is pretty remote so we are offering two opportunities to join the group for food so
            that you do not have to venture out into the city by yourselves, which can be difficult especially if
            you do not have a car.<br>
        </p>
        <ol>
            <li>October 23rd, 2024: we will be having a welcome dinner for those who want to join. </li>
            <ul>
                <li>This will be held at Da Giovannino, a restaurant that is situated at the bottom of the mountain.
                </li>
                <ul>
                    <li>To get there:</li>
                    <ul>
                        <li>We will have people with cars drive up and down (it is about a 4 minute drive to the
                            restaurant).</li>
                        <li>We will call taxis, however it is annoying and a long journey for taxis to simply drive
                            those down for 4 mins – so they may charge a little extra for the inconvenience.</li>
                        <li>People who are willing to, can walk down/up. It is a 30 minute walk, it is a steep walk
                            up – trust me, Austin and I did it and heaved the whole way – however, the walk down may
                            not be too bad.</li>
                    </ul>
                    <li>For approximate price of the restaurant:</li>
                    <ul>
                        <li>We will be in contact with the restaurant so that we can provide a set menu that is a
                            reasonable price for all.</li>
                        <li>Once we have this information, feel free to ask us the approximate price.</li>
                    </ul>
                    <li>Children are welcome at this dinner. </li>
                    <li>We are going to the restaurant not only as a way to welcome everyone who came out. Also, the
                        accommodations do not provide food for the 4 days – MINUS THE DAY OF THE WEDDING - unless
                        you bring your own food there will be nothing to cook or eat (besides breakfast).</li>
                </ul>
                <br>
            </ul>
            <li>October 25th, 2024: this will be the day after the wedding, what we are also calling HANGOVER DAY
            </li>
            <ul>
                <li>This will be held at the venue and it will be a three course pizza party. Therefore, there will
                    be entrees, pizza (both vegetarian and gluten-free), and dessert. There will also be drinks
                    provided (alcoholic and non-alcoholic). </li>
                <ul>
                    <li>This pizza party is €35.00 per person – kids are allowed to join us and the price for kids
                        between the ages of 3 to 10 is €17.00. Kids under 3 are free. </li>
                    <li>It will mostly likely be held in the middle of the day or early evening, as we assume people
                        will try their best to sleep in or take it easy. You will have access to breakfast provided
                        and then the pizza party later in the day. </li>
                    <li>We are offering this option, because again, with the venue being more remote, it will be
                        difficult for those without cars to get around and go to other restaurants or grocery
                        stores. </li>
                </ul>
            </ul>
        </ol>
        <p>
            FOR BOTH EVENTS, WE NEED TO KNOW IN ADVANCE IF YOU WILL BE ATTENDING SO THAT WE CAN PLAN AND BOOK
            ACCORDINGLY – YOU MUST COUNT YOUR CHILDREN IN THE NUMBER – IF THEY ARE NOT EATING JUST MENTION THAT BUT
            COUNT THEM AS A PERSON WHO TAKES UP A SPACE, AS THEY ARE ONE. THANKS.

        </p>
    </details>
<hr>
    <details>
        <summary>Concerning Children Throughout the Stay</summary>
        <p>
            Children are welcome to come and stay on the venue; they can join us for all the group activities –
            eating at the restaurants or on the villa/get togethers in various rooms – with the exception of on the
            day of the wedding.
        </p>
        <ul>
            <li>For the day of the wedding (10.24.2024), we ask that there be no children between the ages of
                newborn to 10 years old at the ceremony or the reception. </li>
            <ul>
                <li>We will be providing a babysitter service that we will on site of the villa so that the parents
                    have access to the children at all times. </li>
                <li>There will be multiple sitters if there are multiple children, especially in the case of babies
                    and/or toddlers. </li>
                <li>This service will be paid for by US so there is no need to factor this price into your budgets.
                </li>
                <li>The service will not be all day, meaning that for the first half of the day, until approximately
                    3pm, the children are free to roam the villa/hotel as they wish and with their parents if
                    needed. And it will last until the wedding festivities have ended, approximately midnight or
                    1am, or until all the children have been picked up. </li>
            </ul>
        </ul>
        <p>
            This was a tough decision to make but we would very much appreciate it if everyone respected our wishes.
        </p>
    </details>
    <hr>
</div>


</body>


</html>
{% endblock %}