{% extends "base.html" %} {% block title %} AuSam - Info {% endblock %}
{% block content %}
<body>
<hr>

<div class="info_page">
    <h3>Payment Info</h3>
    <p>
        We have negotiated a group rate and taken care of all guests' accomodation expenses in advance, along with the cost of the extra activities mentioned below, for those who wish to attend.  <br>
        
        We'd like to offer the following payment options for guests: <br><br>
        <strong>Arriving from Canada and the United States</strong> <br>
        <ul>
            <li>Please pay in cash to us at check in - either in Euros, Canadian Dollars, US Dollars, or Great British Pounds </li>
        </ul>

        <strong>Arriving from the UK</strong> <br>
        <ul>
            <li>Pay in cash to us at check in - either in Euros, Canadian Dollars, US Dollars, or Great British Pounds </li>
            <li>Pay via bank transfer to our UK account. Please contact us for bank details. </li>
        </ul>

        <strong>The cost of each are as follows:</strong> <br>
        <ul>    
            <li>Stay at Villamena: €45 / $66 CAD / $49 USD / £39 per night, per person </li>
            <li>Stay at Sole Luna: €42 / $62 CAD / $45 USD / £36 per night, per person </li>
            <li>Welcome dinner (meat option): €30 / $44 CAD / $32 USD / £26 per person </li>
            <li>Welcome dinner (vegetarian option): €32 / $47 CAD / $35 USD / £27 per person </li>
            <li>Pizza party: €35 / $52 CAD / $38 USD / £30 per person </li>
            <li>Pizza party (kids above 3): €17 / $25 CAD / $18 USD / £15 per person </li>
        </ul>
 
    </p>
    <hr>
    
        <h3>Important Dates</h3>
        <p>
            We have the venue from the <strong>23rd of October 2024 to the 26th of October 2024</strong>.
            We will also have access to the hotel 200m – Agriturismo Sole Luna - from the same dates for those who
            will not be staying on the venue.<br>
            The venue only has place for approximately 42 people – the rest will stay at
            Agriturismo Sole Luna.<br><br>

            Date of the actual wedding will be <strong>October 24th, 2024</strong>. <br>
            We will have a welcome dinner for those who would like to join on <strong>October 23rd, 2024</strong>. <br>
            We will also have a pizza party for those who would like to join on <strong>October 25th, 2024</strong>. <br>


            <span class="bold-orange"> We would appreciate if people could be there on the 23rd, but please inform us of when you plan to arrive so that we can show you to your rooms and get you checked in.</span>
        </p>
    
    <hr>
    
        <h3>Staying at Villamena and Agriturismo Sole Luna</h3>
        <p>
            Your stays will include breakfast baskets sufficient for 3 days.<br><br>

            Check-in on the 23rd of October, 2024 is 4:00pm at Villamena.<br>
            Check-out on the 26th of October, 2024 is 11:00am at Villamena.
        </p>
    
    <hr>
    
        <h3>Getting to the Venue</h3>
        <p>To get to the venue, you must first get to the city of Perugia. Information on getting to Perugia can
            be found on the <a href="{% url 'directions' %}">Getting There</a> page.<br>
            Once you get to Perugia:<br>
            Whether you are getting there by train or by plane, you can easily take a taxi from either location to
            the venue. Just show the driver where you intend to go and they will take you there.
            When Austin and I did the trip in December of 2022, it was approximately €30 for 30 minutes. They take
            card, but they prefer cash – they may also speak little English.
            Perugia and Assisi (where Villamena is), are extremely small Italian towns, there is no Uber (at least
            when we were there) and if there is, there are not a lot. So a taxi is probably your best bet. They are
            reasonably priced and easy to grab at either the train station or the airport.
        </p>
    
    <hr>

    
        <h3>Extra Activities</h3>
        <p>
            The venue is quite remote so we are offering two opportunities to join the group for food so
            that you do not have to venture out into the city by yourselves.<br>
        </p>
        <ol>
            <li>Welcome dinner - October 23rd, 2024 </li>
            <ul>
                <li>This will be held at Da Giovannino, a restaurant that is situated at the bottom of the mountain.
                </li>
                <ul>
                    <li>To get there:</li>
                    <ul>
                        <li>We will have people with cars drive up and down (it is about a 4 minute drive to the
                            restaurant).</li>
                        <li>We will call taxis, however it is annoying and a long journey for taxis to simply drive
                            those down for 4 mins – so they may charge a little extra for the inconvenience.</li>
                        <li>People who are willing to, can walk down/up. It is a 30 minute walk, it is a steep walk
                            up – trust me, Austin and I did it and heaved the whole way – however, the walk down may
                            not be too bad.</li>
                    </ul>
                    <li>Children are welcome at this dinner. </li>
                </ul>
                <br>
            </ul>
            <li>Pizza Party - October 25th, 2024
            </li>
            <ul>
                <li>This will be held at the venue and it will be a three course pizza party. There will
                    be entrees, pizza (both vegetarian and gluten-free), and dessert. There will also be drinks
                    provided (alcoholic and non-alcoholic). </li>
                <ul>
                    <li>It will mostly likely be held in the middle of the day or early evening, as we assume people
                        will try their best to sleep in or take it easy. </li>
                </ul>
            </ul>
        </ol>
        <p>
            Please confirm your attendance and food preferecnes on the RSVP. <br>
        </p>
    
<hr>
    
        <h3>Concerning Children Throughout the Stay</h3>
        <p>
            Children are welcome to come and stay on the venue; they can join us for all the group activities –
            eating at the restaurants or on the villa/get togethers in various rooms – with the exception of on the
            day of the wedding.
        </p>
        <ul>
            <li>For the day of the wedding (10.24.2024), we ask that there be no children between the ages of
                newborn to 10 years old at the ceremony or the reception. </li>
            <ul>
                <li>We will be providing a babysitter service that we will on site of the villa so that the parents
                    have access to the children at all times. </li>
                <li>There will be multiple sitters if there are multiple children, especially in the case of babies
                    and/or toddlers. </li>
                <li>This service will be paid for by us so there is no need to factor this price into your budgets.
                </li>
                <li>The service will not be all day, meaning that for the first half of the day, until approximately
                    3 pm, the children are free to roam the villa/hotel as they wish and with their parents if
                    needed. And it will last until the wedding festivities have ended, approximately midnight or
                    1 am, or until all the children have been picked up. </li>
            </ul>
        </ul>
        <p>
            This was a tough decision to make but we would very much appreciate it if everyone respected our wishes.
        </p>
</div>


</body>


</html>
{% endblock %}